<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">

	<title>404  - Creap - Универсальный шаблон для сайта компании</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">

</head>
<body>
	<!-- Page Top	 -->
	<div id="page-top"></div>
	<!-- Page Top End -->





	<!-- Menu -->
	<div class="main-menu-continer">
		<div id="main-menu" class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<!-- Responsive Navigation -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Навигация</span>
						<i class="fa fa-bars"></i>
					</button> <!-- /.navbar-toggle -->
					<!-- Logo -->
					<a class="navbar-brand" href="index.html">
						<span>Шаблон</span>HTML
					</a><!-- /.navbar-brand -->
				</div> <!-- /.navbar-header -->

				<nav class="collapse navbar-collapse" role="navigation">
					<!-- Main navigation -->
					<ul id="headernavigation" class="nav navbar-nav pull-right">
						<li><a href="index.html#page-top">Главная</a></li>
						<li><a href="index.html#about">О нас</a></li>
						<li><a href="index.html#team">Наша команда</a></li>
						<li><a href="index.html#we-do">Услуги</a></li>
						<li class="menu-item-has-children">
							<a href="index.html#works">Портфолио</a>
							<ul class="sub-menu">
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="portfolio-details.html">Подробнее</a></li>
							</ul><!-- /.sub-menu -->
						</li>
						<li class="menu-item-has-children">
							<a href="index.html#blog">Блог</a>
							<ul class="sub-menu">
								<li><a href="blog-page.html">Блог</a></li>
								<li><a href="single-page.html">Описание</a></li> 
								<li><a href="404.html">Ошибка 404</a></li>
								<li><a href="#">Меню Демо 1</a></li> 
								<li class="menu-item-has-children">
									<a href="#">Меню Демо 2</a>
									<ul class="sub-menu">
										<li><a href="#">Меню Демо 1</a></li>
										<li><a href="#">Меню Демо 2</a></li>
										<li><a href="#">Меню Демо 3</a></li>
									</ul><!-- /.sub-menu -->
								</li>
							</ul><!-- /.sub-menu -->
						</li> 
						
						<li><a href="index.html#contact">Контакты</a></li>
					</ul> <!-- /.nav .navbar-nav -->
				</nav> <!-- /.navbar-collapse  -->
		</div><!-- /#main-menu -->
	</div><!-- /.main-menu-continer -->
	<!-- Menu End -->




	<!-- Page Name Section-->
	<div id="page-name-sec">
		<div class="parallax-style page-name-sec">
			<div class="pattern">
				<div class="container">
					<p class="page-name">
						404 Ошибка!
					</p><!-- /.page-name -->
				</div><!-- /.container -->
			</div><!-- /.pattern -->
		</div><!-- /.parallax-style  /.page-name-sec-->
	</div><!-- #page-name-sec -->
	<!-- Page Name Section End-->




	<!-- 404 Page -->
	<div class="page page-not-found">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="error-icon">
						<span class="icon-eye left"></span>
						<span class="icon-eye right"></span>
						<span class="icon-lip"></span>
					</div><!-- /.error-icon -->
				</div><!-- /.col-md-4 -->
				<div class="col-md-8">
					<h2>Страница Не Найдена</h2>
					<p>
						Страница, которую вы ищете, не найдена. Пожалуйста, перейдите на другую страницу или поиск ниже! 
					</p>
					<aside class="widget widget_search">
						<form role="search" class="search-form" action="#" method="get">
							<input class="search-field" type="text" name="s" id="s" placeholder="Введите запрос и нажмите Enter.." required>
							<button class="btn" type="submit"><i class="fa fa-search"></i></button>
						</form><!-- /.search-form -->
					</aside><!-- /.widget -->
				</div><!-- /.col-md-8 -->
				
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.page-not-found -->
	<!-- 404 Page End -->



	<!-- Footer Section -->
	<footer id="footer-section">
		<div class="footer-section parallax-style">
			<div class="pattern">
				<div class="container">
					<div class="footer-social-btn">
						<a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
						<a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="#" class="rss-btn"><i class="fa fa-rss"></i></a>
					</div><!-- /.footer-social-btn -->
				</div><!-- /.container -->
			</div><!-- /.pattern -->
		</div><!-- /.footer-section -->

		<div class="copyrights">
			<div class="container">
				&copy; Creap - Универсальный шаблон для сайта компании
			</div><!-- /.container -->
		</div><!-- /.copyrights -->
	</footer><!-- /#footer-section -->
	<!-- Footer Section End -->

	<div id="scroll-to-top">
		<span class="small-hex-btn">
			<i class="fa fa-chevron-up"></i>    
		</span>
	</div>


	<!-- Include modernizr-2.8.0.min.js -->
	<script src="assets/js/modernizr-2.8.0.min.js"></script>

	<!-- Include jquery.min.js plugin -->
	<script src="assets/js/jquery-2.1.0.min.js"></script>

	<!-- Include JavaScript Plugins -->
	<script src="assets/js/plugins.js"></script>

	<!-- Include JavaScript Functions -->
	<script src="assets/js/functions.js"></script>

	<!-- Include jquery.parallax.js Plugins -->
	<script src="assets/js/jquery.parallax.js"></script>
</body>

</html>

