<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Creap - Универсальный шаблон для сайта компании</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/linecons-font-style.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
</head>
	<!-- Page Top	 -->
	<div id="page-top"></div>
	<!-- Page Top End -->





	<!-- Menu -->
	<div class="main-menu-continer">
		<div id="main-menu" class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<!-- Responsive Navigation -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Меню навигации</span>
						<i class="fa fa-bars"></i>
					</button> <!-- /.navbar-toggle -->
					<!-- Logo -->
					<a class="navbar-brand" href="index.html">
						<span>Шаблон</span>HTML5
					</a><!-- /.navbar-brand -->
				</div> <!-- /.navbar-header -->

				<nav class="collapse navbar-collapse" role="navigation">
					<!-- Main navigation -->
					<ul id="headernavigation" class="nav navbar-nav pull-right">
						<li><a href="index.html#page-top">Главная</a></li>
						<li><a href="index.html#about">О нас</a></li>
						<li><a href="index.html#team">Наша команда</a></li>
						<li><a href="index.html#we-do">Услуги</a></li>
						<li class="menu-item-has-children">
							<a href="index.html#works">Наши работы</a>
							<ul class="sub-menu">
								<li><a href="portfolio.html">Портфолио</a></li>
								<li><a href="portfolio-details.html">Подробнее</a></li>
							</ul><!-- /.sub-menu -->
						</li>
						<li class="menu-item-has-children">
							<a href="index.html#blog">Блог</a>
							<ul class="sub-menu">
								<li><a href="blog-page.html">Блог</a></li>
								<li><a href="single-page.html">Описание</a></li> 
								<li><a href="404.html">Ошибка 404</a></li>
								<li><a href="#">Меню Демо 1</a></li> 
								<li class="menu-item-has-children">
									<a href="#">Меню Демо 2</a>
									<ul class="sub-menu">
										<li><a href="#">Меню Демо 1</a></li>
										<li><a href="#">Меню Демо 2</a></li>
										<li><a href="#">Меню Демо 3</a></li>
									</ul><!-- /.sub-menu -->
								</li>
							</ul><!-- /.sub-menu -->
						</li> 
						
						<li><a href="index.html#contact">Контакты</a></li>
					</ul> <!-- /.nav .navbar-nav -->
				</nav> <!-- /.navbar-collapse  -->
		</div><!-- /#main-menu -->
	</div><!-- /.main-menu-continer -->
	<!-- Menu End -->




	<!-- Page Name Section-->
	<div id="page-name-sec">
		<div class="parallax-style page-name-sec">
			<div class="pattern">
				<div class="container">
					<p class="page-name">
						Портфолио
					</p><!-- /.page-name -->
					<p class="page-location">
						<a href="index.html">Главная</a> Портфолио
					</p><!-- /.page-location -->
				</div><!-- /.container -->
			</div><!-- /.pattern -->
		</div><!-- /.parallax-style  /.page-name-sec-->
	</div><!-- #page-name-sec -->
	<!-- Page Name Section End-->




	<!-- Portfolio Page -->
	<div id="portfolio-page" class="page portfolio-page">
		<div class="works-section">
			<div id="works-container" class="clearfix">
				<div class="container">
					<div class="portfolioFilter">
						<a href="#" data-filter="" class="current">Смотреть все</a>
						<a href="#" data-filter=".cat-1">Веб-дизайн</a>
						<a href="#" data-filter=".cat-2">Разработка </a>
						<a href="#" data-filter=".cat-3">Оптимизация</a>
						<a href="#" data-filter=".cat-4">Внедрение</a>
						<a href="#" data-filter=".cat-5">Продвижение</a>
					</div> <!-- /.worksFilter -->
					<div id="works-item" class="works-item">

						<figure class="item cat-3 cat-4">
							<img src="images/portfolio/pr-image-1.jpg" alt="Item 3"/>
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										01 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-2 cat-5">
							<img src="images/portfolio/pr-image-2.jpg" alt="Item 4" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Наши проекты</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										21 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-1 cat-2">
							<img src="images/portfolio/pr-image-3.jpg" alt="Item 1" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										12 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-1 cat-4">
							<img src="images/portfolio/pr-image-4.jpg" alt="Item 2" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										52 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>


						<figure class="item cat-3 cat-1">
							<img src="images/portfolio/pr-image-5.jpg" alt="Item 5" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										15 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-4">
							<img src="images/portfolio/pr-image-6.jpg" alt="Item 6" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										14 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-3 cat-1 cat-4">
							<img src="images/portfolio/pr-image-7.jpg" alt="Item 7" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										74 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-3 cat-1 cat-4">
							<img src="images/portfolio/pr-image-8.jpg" alt="Item 7" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										41 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-3 cat-4">
							<img src="images/portfolio/pr-image-1.jpg" alt="Item 3"/>
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										12 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-2 cat-5">
							<img src="images/portfolio/pr-image-2.jpg" alt="Item 4" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										25 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-1 cat-2">
							<img src="images/portfolio/pr-image-3.jpg" alt="Item 1" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										09 <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>

						<figure class="item cat-1 cat-4">
							<img src="images/portfolio/pr-image-4.jpg" alt="Item 2" />
							<figcaption>
								<a href="portfolio-details.html" target="_blank">	
									<div class="portfolio-caption">
										<span class="protfolio-title">Перераспределение бюджета</span>
										<span class="protfolio-cat">Сайт</span>
									</div>
									<span class="protfolio-icon">
										00  <i class="fa fa-heart-o"></i>
									</span>
								</a>
							</figcaption>
						</figure>
					</div><!-- /.works-item -->
				</div><!-- /.container -->	
			</div><!-- /#works-container -->

			<div class="container">
				<div class="more-works">
					<a class="btn" href="portfolio.html">
						<span><i class="fa fa-plus"></i></span>
					</a>	
				</div><!-- /.load-more -->
			</div><!-- /.container -->
		</div><!-- /.works-section -->
	</div><!-- #portfolio-page -->
	<!-- Portfolio Page -->



	<!-- Footer Section -->
	<footer id="footer-section">
		<div class="footer-section parallax-style">
			<div class="pattern">
				<div class="container">
					<div class="footer-social-btn">
						<a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
						<a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="#" class="rss-btn"><i class="fa fa-rss"></i></a>
					</div><!-- /.footer-social-btn -->
				</div><!-- /.container -->
			</div><!-- /.pattern -->
		</div><!-- /.footer-section -->

		<div class="copyrights">
			<div class="container">
				&copy; Creap - Универсальный шаблон для сайта компании
			</div><!-- /.container -->
		</div><!-- /.copyrights -->
	</footer><!-- /#footer-section -->
	<!-- Footer Section End -->

	<div id="scroll-to-top">
		<span class="small-hex-btn">
			<i class="fa fa-chevron-up"></i>    
		</span>
	</div>


	<!-- Include modernizr-2.8.0.min.js -->
	<script src="assets/js/modernizr-2.8.0.min.js"></script>

	<!-- Include jquery.min.js plugin -->
	<script src="assets/js/jquery-2.1.0.min.js"></script>

	<!-- Include JavaScript Plugins -->
	<script src="assets/js/plugins.js"></script>

	<!-- Include JavaScript Functions -->
	<script src="assets/js/functions.js"></script>

	<!-- Include jquery.parallax.js Plugins -->
	<script src="assets/js/jquery.parallax.js"></script>
</body>

</html>

